---
layout: default
title: About us | Manor Rest Home
description: We provide a warm, stable and comfortable environment based on the individual.
---
<article class="container text-center">
	<h1>About us</h1>
	<h2>Our Objectives</h2>
	<p class="lead">To provide a warm, stable and comfortable environment.<br>
		To provide care that is professional but also based on the individual.<br>
		To provide a high quality of life.</p>
	<p>To promote the core values of care and a persons basic rights. That is the values of individuality and identity, dignity, independence, privacy, choice, rights, respect and partnership. Also the right to self worth, to take risks and to live as an independent entity.</p>
	<h2>Situation</h2>
	<p>Manor Rest Home is situated in a quiet, tree-lined road that leads to the sea in one direction (2 minutes) and to Westcliff Station in the other (1 minute). The home is ideally positioned with bus stops, shops, post office and pubs all within a short walk. The local shopping areas at Southend-on-Sea and Leigh-on-Sea are also close by and easily accessible by bus or train. Further afield, London is only 45 minutes from Westcliff Station (direct line).</p>
	<p>For residents who like to get out and walk, but not too far, the bench at the bottom of the road, a little distance from the sea front, provides an excellent spot to sit and watch the world go by. For those who wish to stretch their legs a little more, there is easy access to the esplanade and stimulating walks to Southend’s famous pier in one direction and Old Leigh Town, with it’s fishing boats and cockle sheds in the other.</p>
	<h2>Our philosophy of care</h2>
	<p>To encapsulate all of the above and to deliver it in a professional manner from motivated staff that are supported by strong management and high levels of training.</p>
	<h2>The Team</h2>
	<p>I, Mrs Rebecca Hart, am a very much hands on proprietor. I am a State Enrolled Nurse with over 10 years experience in the NHS (at North Middlesex Hospital and then Orsett Hospital, Thurrock). I have been running Manor Rest Home since 1984. Further, I undertake various training courses such as the Food Hygiene and Safety Supervisors course, which is certificated and accredited by the Royal Institute of Public Health. Most recently I have obtained ASET level 2 certificates in dementia care and infection control.</p>
	<p>My husband, David, is also involved in the day-to-day running of the home and he holds a BSc (hons) in Building Surveying and an MSc in Gerontology (the study of the science of ageing) from The Age Concern Institute of Gerontology at Kings College London. He has completed the Registered Managers Award NVQ Level 4 and has recently achieved a Level 5 Diploma in leadership and management from the Chartered Management Institute.</p>
	<a class="btn read-more-btn" href="#">Read more</a>
	<div class="read-more-content">
		<p>My senior carer, Miss Barrett has been with the home since 1995. Before coming to Manor she was running a small home for the elderly herself. She has undertaken various training courses (first aid, lifting and handling, basic food hygiene, dementia awareness) and has completed an NVQ Level 2 course, an NVQ Level 4 in Care and an NVQ Level 4 in Management.</p>
		<p>As a home we are currently working towards the Gold Standards Framework Accreditation which will take about 18 months to complete and will involve every member of staff.</p>
		<p>Many of the staff have been with the home for in-excess of 5 years. They have all partaken in a variety of training courses: first aid, lifting and handling, basic food hygiene, dementia awareness, falls management health and safety. Of the care assistants, most have achieved NVQ Level 2 and some have achieved NVQ Level 3. Recently 6 staff have completed the ASET Level 2 certificate in Dementia Care, 2 the ASET Level 2 certificate in Infection Control and 2 the ASET Level 2 certificate in Medication. Further training is arranged for the next 12 months. The normal staff complement is 15 to 19 - a mixture of part time and full time.</p>
		<p>As mentioned before, I am SEN trained. Before leaving Orsett Hospital to take over this home in 1984, I was running one, sometimes two, geriatric wards (nights) where the levels of dementia were far higher than we have ever had within this home. Prior to that, whilst working at the North Middlesex Hospital, I was seconded to Chase Farm Hospital in North London to manage a ward that was specifically for severely demented patients. However, we as a home recognise that dementia care has changed out of all recognition in recent years, thus one cannot sit on ones’ laurels. Ongoing training is therefore important which is why my staff undertake regular and varied courses.</p>
	</div>
	<p class="cursive-text">...the home with a heart</p>
</article>