---
layout: default
title: Accreditations | Manor Rest Home
description: We always maintain a high standard of professional care. View our accreditations.
---
<article class="container text-center">
	<h1>Accreditations</h1>
	<div class="accreditations">
		<div class="accreditations__group">
			<div class="accreditations__img-container">
				<img class="accreditations__img" src="/images/logo-secha.png" alt="SECHA" width="149" height="191">
			</div>
			<div class="accreditations__text">
				<h2 class="accreditations__title">SECHA</h2>
				<p>We are dedicated to providing the highest standards of care and value for money.</p>
			</div>
		</div>
		<div class="accreditations__group">
			<div class="accreditations__img-container">
				<img class="accreditations__img" src="/images/logo-care-quality-commission.png" alt="Care Quality Commission" width="229" height="73">
			</div>
			<div class="accreditations__text">
				<h2 class="accreditations__title">Good Rating</h2>
				<p>We are rated as good according to the latest Care Quality Commission report.</p>
			</div>
		</div>
		<div class="accreditations__group">
			<div class="accreditations__img-container">
				<img class="accreditations__img" src="/images/logo-southend-on-sea-borough-council.png" alt="Southend-on-Sea Borough Council" width="230" height="69">
			</div>
			<div class="accreditations__text">
				<h2 class="accreditations__title">81% Inspection Rating</h2>
				<p>We are proud to carry a 81% rating from the most recent council inspection. We are always seeking to improve on our rating, year on year.</p>
			</div>
		</div>
		<div class="accreditations__group">
			<div class="accreditations__img-container">
				<img class="accreditations__img" src="/images/logo-r-and-r-a.png" alt="R&amp;RA" width="175" height="111">
			</div>
			<div class="accreditations__text">
				<h2 class="accreditations__title">Founding Members</h2>
				<p>The Relatives &amp; Residents Association is the national charity for older people in or needing care and the relatives and friends who help them cope.</p>
			</div>
		</div>
		<div class="accreditations__group">
			<div class="accreditations__img-container">
				<img class="accreditations__img" src="/images/logo-cinnamon-trust.png" alt="The Cinnamon Trust" width="158" height="162">
			</div>
			<div class="accreditations__text">
				<h2 class="accreditations__title">The Cinnamon Trust</h2>
				<p>National charity for the elderly set up with a view that pets can provide benefit to the well-being of elderly owners.</p>
			</div>
		</div>
		<div class="accreditations__group">
			<div class="accreditations__img-container">
				<img class="accreditations__img" src="/images/logo-scores-on-the-doors.svg" alt="Scores on the Doors" width="170" height="111">
			</div>
			<div class="accreditations__text">
				<h2 class="accreditations__title">Five Stars</h2>
				<p>We have been awarded a Food Hygiene Rating of 5 (Very Good) by Southend-on-Sea Borough Council.</p>
			</div>
		</div>
	</div>
</article>