---
layout: default
title: Activities | Manor Rest Home
description: We provide a range of activities to suit individual hobbies and interests.
---
<article class="container text-center">
	<h1>Activities</h1>
	<p>Over the years various activities have been developed for all residents, however those suffering from dementia tend to require somewhat more specialised activities. For example, a gentleman whose previous hobby was DIY, a workbox was developed. This contained a combination of his own tools from home along with electrical / plumbing materials that we supplied. Naturally any tools had to be made safe (i.e. sharp edges removed).</p>
  <p>For the ladies, boxes of buttons, threads, knitting and sewing accoutrements. Again under the same safety provisions as before. Simple strategies such a pile of towels dumped on a table can result in a period of folding and sorting and frequently social interaction. More often than not another resident will turn up and join in.</p>
  <p>We have also used doll therapy. Finding an appropriate doll and simply placing the doll close to the resident can generate a reflex action of picking up the doll and nursing it. We have an artist’s easel with large sheets of paper, crayons and paints. Whilst up to now this has only been used by residents who are of a fit state of mind there is no reason to believe that it will not be of benefit to others.</p>
  <p>We have a large stock of music from the appropriate era that is often played in the dining room. The music usually stimulates a reaction and can result in a sing along, sometimes an impromptu dance. In the better weather all the residents can take pleasure from sitting outside, being taken for walks and trips in the mini bus. The back garden is very pleasant with an accessible and safe patio ringed by raised gardens. Thus residents with ‘green fingers’ can partake of a little gardening without the bending.</p>
</article>
<section class="container bottom-imgs">
	<img class="bottom-imgs__img bottom-imgs__img--left" src="/images/photo-activities-ducks.jpg" alt="Ducks photo" width="504" height="502">
	<img class="bottom-imgs__img bottom-imgs__img--right" src="/images/photo-activities-jigsaw-puzzle.jpg" alt="Jigsaw puzzle photo" width="504" height="502">
</section>