---
layout: default
title: Contact us | Manor Rest Home
description: Contact us on 01702 343590 to find out more about the services we offer or to arrange a visit.
---
<article class="container text-center">
	<h1>Contact us</h1>
	<div class="contact">
		<div class="contact__column contact__column--first">
			<h2 class="contact__title">Find us</h2>
			<p class="contact__address"><strong>Manor Rest Home</strong><br>
				35 Manor Rd, Southend-on-Sea,<br>
				Westcliff-on-Sea SS0 7SR</p>
			<p class="contact__phone">01702 343590</p>
		</div>
		<div class="contact__column">
			<h2 class="contact__title">Get in touch</h2>
			<p>Please fill in the form below and we will get back to you as soon and possible.</p>
			<form id="form104" name="form104" class="contact__form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://swancreative.wufoo.eu/forms/z1u1u1ht1xjm4oj/#public" data-wufooformid="z1u1u1ht1xjm4oj">
				<div class="contact__form-group">
					<input class="contact__form-field" id="Field1" name="Field1" type="text" maxlength="255" required placeholder="Full Name">
				</div>
				<div class="contact__form-group">
					<input class="contact__form-field" id="Field2" name="Field2" type="tel" maxlength="255" placeholder="Telephone No.">
				</div>
				<div class="contact__form-group">
					<input class="contact__form-field" id="Field3" name="Field3" type="email" spellcheck="false" maxlength="255" required placeholder="Email Address">
				</div>
				<div class="contact__form-group">
					<textarea class="contact__form-field" id="Field4" name="Field4" spellcheck="true" required placeholder="Enquiry"></textarea>
				</div>
				<div class="contact__form-group">
					<input id="Field6" name="Field6" type="checkbox" class="contact__checkbox" value="By ticking this box, you agree to the terms in our privacy policy.">
					<label class="contact__checkbox-label" for="Field6"><span>By ticking this box, you agree to the terms in our <a href="/privacy-policy.html">privacy policy</a>.</span></label>
				</div>
				<button class="btn contact__submit" type="submit">Submit</button>
				<div class="contact__form-hide">
					<label for="comment">Do Not Fill This Out</label>
					<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
					<input type="hidden" id="idstamp" name="idstamp" value="BEraHe2qCmVtYm3+Rrlecqv6nEgrHG/vShKgoicjZDY=">
				</div>
			</form>
		</div>
	</div>
</article>
<div class="map-container">
	<div id="map" class="map-container__map"></div>
</div>