---
layout: default
title: Gallery | Manor Rest Home
description: View photographs of Manor Rest Home, interior and exterior.
---
<article class="container text-center">
	<h1>Gallery</h1>
	<p>Manor Rest Home is a corporate founder member of The Relatives &amp; Residents Association (Essex) and as such is committed to their viewpoint of assisting relatives and residents whenever possible.</p>
	<div class="gallery__tabs-container">
		<a class="gallery__single-tab gallery__single-tab--active" href="#exterior">Exterior</a>
		<a class="gallery__single-tab" href="#accomodation">Accomodation</a>
		<a class="gallery__single-tab" href="#location">Location</a>
		<a class="gallery__single-tab" href="#activities">Activities</a>
	</div>
	<div class="gallery gallery--visible" data-gallery-group="#exterior">
		<a href="/images/gallery-2.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-2-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-3.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-3-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-5.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-5-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-41.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-41-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-49.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-49-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-65.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-65-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
	</div>
	<div class="gallery" data-gallery-group="#accomodation">
		<a href="/images/gallery-14.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-14-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-17.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-17-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-1.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-1-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-11.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-11-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
	</div>
	<div class="gallery" data-gallery-group="#location">
		<a href="/images/gallery-6.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-6-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-64.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-64-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-19.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-19-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-21.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-21-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-24.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-24-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-26.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-26-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-27.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-27-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-29.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-29-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-33.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-33-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-34.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-34-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-38.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-38-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
	</div>
	<div class="gallery" data-gallery-group="#activities">
		<a href="/images/gallery-54.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-54-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-55.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-55-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-56.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-56-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-57.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-57-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-58.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-58-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-59.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-59-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-60.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-60-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-61.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-61-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-62.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-62-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-63.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-63-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
		<a href="/images/gallery-66.jpg" class="gallery__link" data-lightbox="gallery"><img src="/images/gallery-66-thumb.jpg" alt="" class="gallery__img" width="326" height="326"></a>
	</div>
</article>