---
layout: default
title: Manor Rest Care Home
description: Manor Rest Care Home, based in Southend-on-Sea, provide the best residential care tailored to everyone's needs in a safe environment.
---
<article class="container text-center">
	<h1>Dedicated to personal care</h1>
	<h2>About our care home</h2>
	<p>Manor Rest Home is a corporate founder member of The Relatives &amp; Residents Association (Essex) and as such is committed to their viewpoint of assisting relatives and residents whenever possible.</p>
	<p>Our aim is and always has been, to create an ethos that provides a safe and comfortable environment staffed by professionals who, at the same time, are caring and friendly; to do our utmost to instil the notion that Manor Rest Home is the residents home and to ensure that they receive the respect that is befitting of their position in society.</p>
	<p>Manor Rest Home has 19 beds. Of these, 12 are in double rooms and the remaining 7 are singles. There is ample communal space and large accessible gardens. We like to think the home is not too small to feel lonely but not too large to get lost in. There is a stable and well trained workforce that is motivated and caring. We serve nourishing home cooked food and cater for different tastes and diets. Special requirements for smokers, diabetics, gluten free diets etc., can all be catered for. Manor Rest Home aims to offer residents a ‘family like’ environment. We have pets and welcome them whenever possible.</p>
	<a class="btn" href="/contact-us.html">Arrange a visit</a>
</article>
<section class="container img-link">
	<a class="img-link__single img-link__single--left" href="/what-we-offer.html">
		<img class="img-link__img" src="/images/photo-accommodation.jpg" alt="Accommodation photo" width="504" height="458">
		<span class="img-link__text">View our accommodation</span>
	</a>
	<a class="img-link__single img-link__single--right" href="/activities.html">
		<img class="img-link__img" src="/images/photo-activities.jpg" alt="Activities photo" width="504" height="458">
		<span class="img-link__text">Discover more about our activities</span>
	</a>
</section>