---
layout: default
title: Privacy Policy | Manor Rest Home
---
<article class="container">
	<h1>Privacy Policy</h1>
	<p>Introduction</p>
	<p>This policy sets out the different areas where user privacy is concerned and outlines the obligations & requirements of the users, the website and website owners. Furthermore, the way this website processes, stores and protects user data and information will also be detailed within this policy.</p>
	<p>The website</p>
	<p>This website and its owners take a proactive approach to user privacy and ensure the necessary steps are taken to protect the privacy of its users throughout their visiting experience. This website complies with all UK national laws and requirements for user privacy.</p>
	<p>Manor Rest Home is a corporate founder member of The Relatives & Residents Association (Essex) and as such is committed to their viewpoint of assisting relatives and residents whenever possible. Please see: www.manorresthome.co.uk</p>
	<p><strong>Data Protection Officer</strong></p>
	<p>If you would like to contact us with regard to Data Protection and the use of your details, please email <a href="mailto:enquiries@manorresthome.co.uk">enquiries@manorresthome.co.uk</a></p>
	<p>The data we will process on your behalf includes but is not exclusively:</p>
	<ul>
	  <li>Your Name</li>
	  <li>Company name</li>
	  <li>Company address</li>
	  <li>Telephone number</li>
	  <li>Email address</li>
	</ul>
	<p><strong>Our Legal Basis for Processing your Personal Data</strong></p>
	<p>We will process your data securely under the following basis:</p>
	<ul>
	  <li>When you show and interest and use our secure web forms to provide your name, address, telephone number, email address so that we can get in touch</li>
	  <li>We require this data or in order to carry out the required creative services to you</li>
	  <li>We require your invoice and/or direct debit details in order for us to charge the agreed price for any works agreed.  These will be held on a secure server, hosted by Amazon Web Services, you can read more about their policy here >  <a href="https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=201909010" target="_blank">https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=201909010</a></li>
	</ul>
	<p><strong>Legitimate interests pursued by us or third parties we use, are as follows:</strong></p>
	<ul>
	  <li>Your details may be shared with other members of the Manor Rest Home or 3rd party partners in order to provide you with the best service. These details are not shared furthermore except merely held for security or legal reasons relating to the service being provided.</li>
	</ul>
	<p><strong>Disclosure</strong></p>
	<p>Manor Rest Home will not pass on your data to third parties without first obtaining consent. The following third parties will receive your personal data for the following purposes as a part of processing activities:</p>
	<table>
	  <thead>
	    <tr>
	      <th>Third Party</th>
	      <th>Country</th>
	      <th>Safeguards in place to protect your Personal data:</th>
	      <th>Retrieve a copy of your safeguards here:</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Microsoft 365</td>
	      <td>EU</td>
	      <td>Encryption and Password Policies</td>
	      <td>
	        <a href="https://privacy.microsoft.com/en-us" target="_blank">https://privacy.microsoft.com/en-us</a>
	      </td>
	    </tr>
	    <tr>
	      <td>Antivirus</td>
	      <td>EU</td>
	      <td>Encryption and Password Policies</td>
	      <td></td>
	    </tr>
	    <tr>
	      <td>Wufoo</td>
	      <td>EU</td>
	      <td>Encryption and Password Policies</td>
	      <td>
	        <a href="https://www.surveymonkey.com/mp/legal/privacy-policy/#pp-section-12" target="_blank">https://www.surveymonkey.com/mp/legal/privacy-policy/#pp-section-12</a>
	      </td>
	    </tr>
	    <tr>
	      <td>Google Analytics</td>
	      <td>US</td>
	      <td>Encryption and Password Policies</td>
	      <td>
	        <a href="https://policies.google.com/privacy?hl=en-GB&gl=uk" target="_blank">https://policies.google.com/privacy?hl=en-GB&gl=uk</a>
	      </td>
	    </tr>
	  </tbody>
	</table>
	<p><strong>Complaints</strong></p>
	<p>In the event that you wish to make a complaint about how your personal data is being processed by Manor Rest Home (or its third parties), please send your complaints to enquiries@manorresthome.co.uk. In addition, you have the right to lodge a complaint directly with the supervisory authority which is the ICO (<a href="http://www.ico.org.uk" target="_blank">www.ico.org.uk</a>).</p>
	<p><strong>Specific Online Privacy Statement</strong></p>
	<p><strong>How we use your information online</strong></p>
	<p>Use of cookies</p>
	<p><strong>What are cookies?</strong></p>
	<p>Cookies are small files saved to the user’s computer’s hard drive that track, save and store information about the user’s interactions and usage of the website. This allows the website, through its server to provide the users with a tailored experience within this website.</p>
	<p><strong>What do we use cookies for?</strong></p>
	<p>We may use cookies to remember personal settings you have chosen at our website. In no other context do we use cookies to collect information that identifies you personally. Most of the cookies we set are automatically deleted from your computer when you leave our website or shortly afterwards.</p>
	<p>We use anonymous session cookies (short-term cookies that disappear when you close your browser) to help you navigate the website and make the most of the features. If you log into the website, application or a course as a registered user, your session cookie will also contain your user ID so that we can check which services you are allowed to access.</p>
	<p>This website uses tracking software to monitor its visitors to better understand how they use it. This software is provided by Google Analytics which uses cookies to track visitor usage. The software will save a cookie to your computer’s hard drive in order to track and monitor your engagement and usage of the website, but will not store, save or collect personal information.</p>
	<p>Should users wish to deny the use and saving of cookies from this website onto their computer’s hard drive, they should take necessary steps within their web browser’s security settings to block all cookies from this website and its external serving vendors.</p>
	<p><strong>Personal information</strong></p>
	<p>Whilst using our website, software applications or services, you may be required to provide personal information (name, address, email, account details, etc.). We will use this information to administer our website, applications, client databases and marketing material. We will ensure that all personal information supplied is held securely in accordance with the General Data Protection Regulation (EU) 2016/679, as adopted into law of the United Kingdom in the Data Protection Act 2018. Further, by providing telephone, fax and email details, you consent to Manor Rest Home contacting you using that method. You have the right at any time to request a copy of the personal information we hold on you. Should you wish to receive a copy of this, or would like to be removed from our database, please contact us at <a href="mailto:enquiries@manorresthome.co.uk">enquiries@manorresthome.co.uk</a>.</p>
	<p>Manor Rest Home will process data in line with GDPR guidelines and the requirement for legal and accounting records.</p>
	<p><strong>Why do Manor Rest Home need to collect and store personal data?</strong></p>
	<p>In order for us to contact you and provide you any level of service required, we need to collect personal data for correspondence purposes. In any event, we are committed to ensuring that the information we collect and use is appropriate for this purpose, and does not constitute an invasion of your privacy.</p>
	<p>In terms of being contacted for marketing purposes Manor Rest Home would contact you for additional consent, unless you have formerly ticked the consent option on our contact form.</p>
	<p><strong>Will Manor Rest Home share my personal data with anyone else?</strong></p>
	<p>We may pass your personal data on to third-party service providers contracted to Manor Rest Home in the course of dealing with you. Any third parties that we may share your data with are obliged to keep your details securely, and to use them only to fulfil the service they provide you on our behalf. When they no longer need your data to fulfil this service, they will dispose of the details in line with Manor Rest Home procedures.</p>
	<p><strong>How will Manor Rest Home use the data it collects about me?</strong></p>
	<p>Manor Rest Home collects information in two possible ways:</p>
	<p class="indent"><em>a.  When you directly give it to us (“Directly Provided Data”)</em></p>
	<p>When you sign up for our site, purchase our products or communicate with us, you may choose to voluntarily give us certain information – for example, by filling in text boxes or completing registration forms. All this information requires a direct action by you at that time in order for us to receive it.</p>
	<p class="indent"><em>b.  When you give us permission to obtain from other accounts (“User Authorised Data”)</em></p>
	<p>Depending on your settings or the privacy policies for other online services, you may give us permission to obtain information from your account with those other services. For example, this can be via social media or by choosing to send us your location data when accessing our website from your smartphone.</p>
	<p><strong>How long do we keep your data for?</strong></p>
	<p>Manor Rest Home will not retain your personal information longer than necessary. We will hold onto the information you provide either while your account is in existence, or as needed to be able to provide the Services to you, or (in the case of any contact you may have with our Customer Care team) for as long as is necessary to provide support-related reporting and trend analysis only.</p>
	<p>If legally required or if it is reasonably necessary to meet regulatory requirements, resolve disputes, prevent fraud and abuse, or enforce our Terms and Conditions, we may also retain some of your information for a limited period of time as required, even after you have closed your account or it is no longer needed to provide the Services to you.</p>
	<p><strong>Can I find out the personal data that the organisation holds about me?</strong></p>
	<p>Manor Rest Home at your request, can confirm what information we hold about you and how it is processed. If Manor Rest Home does hold personal data about you, you can request the following information by contacting <a href="mailto:enquiries@manorresthome.co.uk">enquiries@manorresthome.co.uk</a>:</p>
	<ul>
	  <li>Identity and the contact details of the person or organisation that has determined how and why to process your data.</li>
	  <li>Contact details of the data protection officer, where applicable.</li>
	  <li>The purpose of the processing as well as the legal basis for processing.</li>
	  <li>If the processing is based on the legitimate interests of Manor Rest Home or a third party, information about those interests.</li>
	  <li>The categories of personal data collected, stored and processed.</li>
	  <li>Recipient(s) or categories of recipients that the data is/will be disclosed to.</li>
	  <li>If we intend to transfer the personal data to a third country or international organisation, information about how we ensure this is done securely.</li>
	</ul>
	<p><strong>What forms of ID will I need to provide in order to access this?</strong></p>
	<p>Manor Rest Home accepts any of the following forms of ID when information on your personal data is requested:</p>
	<ul>
	  <li>Passport</li>
	  <li>Driving licence</li>
	  <li>Another form for ID which leaves no doubt of the data owner</li>
	</ul>
</article>
