---
layout: default
title: What we offer | Manor Rest Home
description: We offer high quality care and outstanding facilities, with compassion and dedication.
---
<article class="container text-center">
	<h1>What we offer</h1>
	<h2>Services</h2>
	<p>The home is registered to meet the needs of older people and older people diagnosed with dementia and metal health problems. We have fairly strict criteria for the admission of new residents with dementia and mental health problems. Clearly we have to consider the residents that have no dementia, residents with moderate dementia could impinge on the quality of life of those not suffering from a similar disability. We feel that by using our admission criteria both sets of residents are served well, residents with early dementia can be placed in an environment where the majority have similar mental faculties to themselves and the other residents are not being upset by inappropriate behaviour. There are plenty of communal areas in the home so residents are able to find their own space.</p>
	<a class="btn read-more-btn" href="#">Read more</a>
	<div class="read-more-content">
		<p>Smokers are welcome at Manor Rest Home and following an appropriate assessment, it may be possible for a smoker to smoke in their room. Otherwise we have a commercial grade parasol with heating and lighting on the rear patio so smokers can indulge their pleasure in comfort at any time of the year.</p>
		<p>There is ample communal space within the home consisting of two lounges, the conservatory, a seating area in the entrance hall and a large dining room which is always open and often used as a third lounge. Therefore, in practice the residents tend to find their own space in an area that suits them; furthermore should another resident invade that space there are ample opportunities to move to another area. Naturally if staff observe a resident suffering from dementia and compromising the rights of others, that member of staff would try and diffuse the situation quite possibly by employing one of the activities outlined below. However it is recognised that the resident suffering from dementia has rights also.</p>
	</div>
	<h2>Accommodation</h2>
	<p>Manor Rest Home is a pair of very large semi detached houses converted into one property. The accommodation is spread over the ground and first floors with 10 of the bedrooms situated on the first floor (4 double rooms and 6 single rooms) and 3 bedrooms on the ground floor (2 double rooms and 1 single room). One double room has an en-suite toilet and two single rooms have full en-suite facilities. All rooms have screened washing facilities. There are ample communal toilets in close proximity to all the other rooms. Further there are two communal bathrooms: one having a traditional ‘lay down’ bath with a ‘bath lift’, the other a sit in ‘medic-bath’ for those residents that are not so mobile and require increased assistance with their bathing.</p>
	<p>The home has two sets of stairs to the first floor with a stairlift fitted to one set. Both sets of stairs have adequate grab rails. There is not a shaft lift. If any resident starts to find the stairs a problem, my policy is to offer them a ground floor room as and when one becomes available.</p>
	<a class="btn read-more-btn" href="#">Read more</a>
	<div class="read-more-content">
		<p>The communal / recreational areas are all situated on the ground floor (see description above). All rooms are decorated and furnished in a homely and domestic style. Manor Rest Home aims to offer residents a ‘family like’ environment, which includes a cat, a cockatiel and a goldfish. There are also ‘visiting dogs’.</p>
		<p>As mentioned, there is a large sunny garden at the rear of the home and an adjacent patio area. These areas are easily accessible to residents and are stocked with plenty of garden furniture for those who wish to sunbathe. During the summer, drinks and snacks can be served outside if desired.</p>
		<p>At the front of the home is a small parking area for visitors. There are no formal restrictions to visiting arrangements within the Home. However, for the comfort and security of the residents, visiting is generally considered open between the hours of 8.00am and 8.00pm. Outside these hours, arrangements should be made between the resident and myself, or the staff on duty that day. When visiting you are asked to sign yourself in and out, the register you will find situated on the left of the entrance hall.</p>
		<p>The premises are safe and secure for all residents. The main front door has a numerical key pad exit system. An automatic push button entry system allows ambulant mentally fit residents and known visitors to gain access without ringing the doorbell. The rear doors are alarmed, the side gates are locked and there is no danger in the garden.</p>
		<p>Due to the physical characteristics of the home some of the environmental spatial standards are less than one would find in a new, purpose built care home. For example the ratio of double rooms to single rooms is greater than one would find in a purpose built home.</p>
	</div>
</article>
<section class="container bottom-imgs">
	<img class="bottom-imgs__img bottom-imgs__img--left" src="/images/photo-what-we-do-garden.jpg" alt="Garden photo" width="504" height="502">
	<img class="bottom-imgs__img bottom-imgs__img--right" src="/images/photo-what-we-do-bedroom.jpg" alt="Bedroom photo" width="504" height="502">
	<a class="btn bottom-imgs__btn" href="/gallery.html">View our gallery</a>
</section>
