<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136966911-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-136966911-1');
	</script>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/slick.css">
	<link rel="stylesheet" href="/css/style.min.css">
	{% if page.url == '/gallery.html' %}
		<link rel="stylesheet" href="/css/lightbox.min.css">
	{% endif %}
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/favicons/manifest.json">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#00788e">
	<link rel="shortcut icon" href="/favicons/favicon.ico">
	<meta name="msapplication-config" content="/favicons/browserconfig.xml">
	<meta name="theme-color" content="#00788e">
</head>
<body>
	<nav class="nav">
		<div class="container nav__inside">
			<a class="nav__logo" href="/"><img class="nav__logo-img" src="/images/manor-small-logo.svg" alt="Manor Rest Home" width="42" height="30"></a>
			<button class="nav__toggle">Toggle Navigation</button>
			<ul class="nav__list">
				<li class="nav__item{% if page.url == '/' or page.url == '/index.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/">Home</a></li>
				<li class="nav__item{% if page.url == '/about-us.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/about-us.html">About us</a></li>
				<li class="nav__item{% if page.url == '/what-we-offer.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/what-we-offer.html">What we offer</a></li>
				<li class="nav__item{% if page.url == '/activities.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/activities.html">Activities</a></li>
				<li class="nav__item{% if page.url == '/gallery.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/gallery.html">Gallery</a></li>
				<li class="nav__item{% if page.url == '/accreditations.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/accreditations.html">Accreditations</a></li>
				<li class="nav__item{% if page.url == '/contact-us.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/contact-us.html">Contact us</a></li>
			</ul>
		</div>
	</nav>
	<header class="header">
		<div class="container header__top">
			<div class="header__top-left">
				<a class="header__logo" href="/"><img class="header__logo-img" src="/images/manor-rest-home-logo.svg" alt="Manor Rest Home" width="312" height="109"></a>
				<p class="header__slogan">The best care, close to home</p>
			</div>
			<div class="header__top-right">
				<p class="header__phone">01702 343590</p>
				<a class="btn header__visit" href="/contact-us.html">Arrange a visit</a>
			</div>
		</div>
		<div class="header__banner-container">
			{% if page.url == '/' or page.url == '/index.html' %}
				<div class="header__banner header__banner--home-1"></div>
				<div class="header__banner header__banner--home-2"></div>
				<div class="header__banner header__banner--home-3"></div>
			{% endif %}
			{% if page.url == '/about-us.html' %}
				<div class="header__banner header__banner--about-us"></div>
			{% endif %}
			{% if page.url == '/what-we-offer.html' %}
				<div class="header__banner header__banner--what-we-offer"></div>
			{% endif %}
			{% if page.url == '/activities.html' %}
				<div class="header__banner header__banner--activities"></div>
			{% endif %}
			{% if page.url == '/gallery.html' %}
				<div class="header__banner header__banner--gallery"></div>
			{% endif %}
			{% if page.url == '/accreditations.html' %}
				<div class="header__banner header__banner--accreditations"></div>
			{% endif %}
			{% if page.url == '/contact-us.html' %}
				<div class="header__banner header__banner--contact-us"></div>
			{% endif %}
		</div>
	</header>
	{{ content }}
	{% if page.url != '/accreditations.html' %}
	<section class="bottom-accreditations">
		<div class="container">
			<h2 class="bottom-accreditations__title">Accreditations</h2>
			<div class="bottom-accreditations__row">
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--secha" src="/images/logo-bottom-secha.png" alt="SECHA" width="66" height="84">
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--cqc" src="/images/logo-bottom-care-quality-commission.png" alt="Care Quality Commission" width="107" height="34">
					<p class="bottom-accreditations__text">Good Rating</p>
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--sbc" src="/images/logo-bottom-southend-on-sea-borough-council.png" alt="Southend-on-Sea Borough Council" width="139" height="42">
					<p class="bottom-accreditations__text">81% Inspection Rating</p>
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--rra" src="/images/logo-bottom-r-and-r-a.png" alt="R&amp;RA" width="107" height="67">
					<p class="bottom-accreditations__text">Founding Members</p>
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img" src="/images/logo-bottom-cinnamon-trust.png" alt="The Cinnamon Trust" width="88" height="90">
				</div>
				<div class="bottom-accreditations__single">
					<img class="bottom-accreditations__img bottom-accreditations__img--sotd" src="/images/logo-bottom-scores-on-the-doors.svg" alt="Scores on the Doors" width="79" height="51">
					<p class="bottom-accreditations__text">Five Stars</p>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	<footer class="footer{% if page.url == '/accreditations.html' %} footer--white-top{% endif %}">
		<div class="container footer__inside">
			<img class="footer__logo" src="/images/manor-rest-home-logo-white.svg" alt="Manor Rest Home" width="280" height="98">
			<p class="footer__slogan">The best care, close to home</p>
			<div class="footer__columns">
				<div class="footer__single-column">
					<h3 class="footer__title">About</h3>
					<p class="footer__text">We provide a warm, stable and comfortable environment with professional care to deliver a high quality of life.</p>
				</div>
				<div class="footer__single-column">
					<h3 class="footer__title">Contact Us</h3>
					<p class="footer__text">35 Manor Road,<br>
						Westcliff-on-Sea,<br>
						Essex, SS0 7SR<br>
						<strong>01702 343590</strong></p>
				</div>
				<div class="footer__single-column footer__single-column--last">
					<h3 class="footer__title">Navigation</h3>
					<div class="footer__nav-columns">
						<div class="footer__nav-single-column">
							<a class="footer__nav-link{% if page.url == '/' or page.url == '/index.html' %} footer__nav-link--active{% endif %}" href="/">Home</a>
							<a class="footer__nav-link{% if page.url == '/about-us.html' %} footer__nav-link--active{% endif %}" href="/about-us.html">About us</a>
							<a class="footer__nav-link{% if page.url == '/what-we-offer.html' %} footer__nav-link--active{% endif %}" href="/what-we-offer.html">What we offer</a>
							<a class="footer__nav-link{% if page.url == '/activities.html' %} footer__nav-link--active{% endif %}" href="/activities.html">Activities</a>
							<a class="footer__nav-link{% if page.url == '/gallery.html' %} footer__nav-link--active{% endif %}" href="/gallery.html">Gallery</a>
						</div>
						<div class="footer__nav-single-column">
							<a class="footer__nav-link{% if page.url == '/accreditations.html' %} footer__nav-link--active{% endif %}" href="/accreditations.html">Accreditations</a>
							<a class="footer__nav-link{% if page.url == '/contact-us.html' %} footer__nav-link--active{% endif %}" href="/contact-us.html">Contact us</a>
							<a class="footer__nav-link{% if page.url == '/privacy-policy.html' %} footer__nav-link--active{% endif %}" href="/privacy-policy.html">Privacy policy</a>
							<a class="footer__nav-link{% if page.url == '/terms-and-conditions.html' %} footer__nav-link--active{% endif %}" href="/terms-and-conditions.html">Terms and conditions</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="container footer__bottom-inside">
				<p>Copyright Manor Rest Home © <span class="footer__year">2017</span>. All Rights Reserved.</p>
				<p>Site designed and built by <a href="https://www.swancreative.co.uk/" target="_blank">Swan Creative</a></p>
			</div>
		</div>
	</footer>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/scrollreveal.min.js"></script>
	<script src="/js/script.js"></script>
	{% if page.url == '/' or page.url == '/index.html' %}
		<script>
			$(document).ready(function() {
				$('.header__banner-container').slick({
					autoplay: true,
					autoplaySpeed: 5000,
					prevArrow: '<button class="header__banner-arrow header__banner-arrow--prev" type="button"><svg class="header__banner-arrow-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.2 56.92" width="17" height="57"><defs><style>.arrow-prev{fill:currentColor;}</style></defs><title>carousel-arrow-prev</title><polygon class="arrow-prev" points="0 28 14.42 0 16.2 0.92 2.01 28.46 16.2 56 14.42 56.92 0 28.92 0 28"/></svg></button>',
					nextArrow: '<button class="header__banner-arrow header__banner-arrow--next" type="button"><svg class="header__banner-arrow-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.2 56.92" width="17" height="57"><defs><style>.arrow-next{fill:currentColor;}</style></defs><title>carousel-arrow-next</title><polygon class="arrow-next" points="16.2 28 1.78 0 0 0.92 14.19 28.46 0 56 1.78 56.92 16.2 28.92 16.2 28"/></svg></button>',
					speed: 1000,
					fade: true
				});
			});
		</script>
	{% endif %}
	{% if page.url == '/gallery.html' %}
		<script src="/js/lightbox.min.js"></script>
		<script>
			$(document).ready(function() {
				sr.reveal('.gallery--visible .gallery__link', { reset: true }, 100);
				$('.gallery__single-tab').click(function(event) {
					event.preventDefault();
					$('.gallery__single-tab').removeClass('gallery__single-tab--active');
					$(this).addClass('gallery__single-tab--active');

					$('.gallery--visible').removeClass('gallery--visible');
					$('.gallery[data-gallery-group="' + $(this).attr('href') + '"]').addClass('gallery--visible');
					sr.reveal('.gallery--visible .gallery__link', { reset: true }, 100);
				});
			});
		</script>
	{% endif %}
	{% if page.url == '/contact-us.html' %}
		<script>
			$(document).ready(function() {
				$('#form104').on('submit', function(event) {
					var this_form = $(this).attr('id');
					$('#' + this_form + ' .contact__form-error').remove();
					if ($('#' + this_form + ' .contact__form-group').hasClass('contact__form-group--has-error')) {
						$('#' + this_form + ' .contact__form-group').removeClass('contact__form-group--has-error');
					}
					event.preventDefault();
					$.ajax({
						url: 'http://forms.swancreative.com/w/' + $(this).data('wufooformid'),
						data: $(this).serialize(),
						type: 'POST',
						success: function(response) {
							if (response.Success === 1) {
								$('#' + this_form).after('<p class="contact__form-success">Thank you for contacting us!</p>');
								$('#' + this_form).remove();
							} else {
								var i = 0;
								$.each(response.FieldErrors, function() {
									var after_label = '';
									if (response.FieldErrors[i].ID === 'Field6') after_label = ' + label';
									$('#' + this_form + ' #' + response.FieldErrors[i].ID + after_label).after('<p class="contact__form-error">' + response.FieldErrors[i].ErrorText + '</p>');
									$('#' + this_form + ' #' + response.FieldErrors[i].ID + after_label).parent('.contact__form-group').addClass('contact__form-group--has-error');
									i++;
								});
							}
						}
					});
				});
			});

			function initMap() {
				var mapCanvas = document.getElementById('map');
				// UPDATE LATITUDE AND LONGITUDE
				var myLatLng = new google.maps.LatLng(51.536865, 0.690562);
				var mapOptions = {
					center: myLatLng,
					zoom: 15,
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					scrollwheel: false
				}
				var map = new google.maps.Map(mapCanvas, mapOptions);
				var markerImage = {
					url: '/images/map-icon.png',
					scaledSize: new google.maps.Size(36, 44),
				};
				var marker = new google.maps.Marker({
					position: myLatLng,
					map: map,
					icon: markerImage
				});
				google.maps.event.addDomListener(window, 'resize', function() {
					map.setCenter(myLatLng);
				});
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkbqFDEcwuDYLconPnOWXi4pNA8EXhQbc&amp;callback=initMap" async defer></script>
	{% endif %}
</body>
</html>
